.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 19px;
  z-index: 999;
  display: flex;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: all 0.3s ease;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

.modal__container {
  position: relative;
  background-color: #fff;
  margin: auto;
  padding: 22px;
  border-radius: 10px;

  width: 430px;
}

.modal__preview-container {
  padding: 0;
  margin: auto;
  background: transparent;
  position: relative;
  max-width: 816px;
  border-radius: 10px;
}

.modal__preview-image {
  margin: auto;
  max-width: 75vw;
  max-height: 75vh;
  padding-bottom: 10px;
}

.modal__close {
  border: none;
  padding: none;

  position: absolute;
  left: calc(100% + 5px);
  bottom: calc(100% + 6px);
  width: 40px;
  height: 40px;

  background-image: url(../images/Close_icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  cursor: pointer;
}

.modal__heading {
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  text-align: left;
  color: #000;
  max-width: 330px;

  margin: 0;
  padding-bottom: 54px;
}

.modal__form {
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;

  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
}

.modal__input {
  width: 100%;

  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

input {
  height: 27px;
}

.modal__input-description,
.modal__input-link {
  padding: none;
  margin-top: 57px;
}

.modal__button {
  background-color: #000;
  color: #fff;
  border: none;
  text-decoration: none;
  width: 100%;
  height: 50px;

  margin-top: 48px;

  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
}

.modal__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.modal__close:hover {
  opacity: 0.6;
  cursor: pointer;
}

.modal__preview-name {
  margin: 0;

  background: transparent;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: left;
}

@media screen and (max-width: 480px) {
  .modal__heading {
    font-size: 18px;
  }
  .modal__button {
    font-size: 14px;
    max-width: 238px;
  }

  .modal__input-link {
    margin-top: 30px;
  }
}

@media screen and (max-width: 630px) {
  .modal__close {
    left: calc(100% - 26px);
    bottom: calc(100% + 13px);
    width: 26px;
    height: 26px;
  }

  .modal__close_preview-image {
    left: 100%;
    bottom: calc(100% + 5px);
  }
}
