.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 19px;
  z-index: 999;
  display: flex;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: all 0.3s ease;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  transition: visibility 0s, opacity 0.5s linear;
}

.popup__container {
  position: relative;
  background-color: #fff;
  margin: auto;
  padding: 36px;
  border-radius: 10px;

  width: 430px;
}

.popup__preview-container {
  padding: 0;
  margin: auto;
  background: transparent;
  position: relative;
  max-width: 816px;
  border-radius: 10px;
}

.popup__preview-image {
  margin: auto;
  max-width: 75vw;
  max-height: 75vh;
  padding-bottom: 10px;
}

.popup__close {
  border: none;
  padding: none;

  position: absolute;
  left: calc(100% + 5px);
  bottom: calc(100% + 6px);
  width: 40px;
  height: 40px;

  background-image: url(../images/Close_icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.popup__close:hover {
  opacity: 0.6;
  cursor: pointer;
}

.popup__heading {
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  text-align: left;
  color: #000;
  max-width: 330px;

  margin: 0;
  padding-bottom: 54px;
}
.popup__heading-confirm {
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  text-align: left;
  color: #000;
  max-width: 330px;

  margin: 0;
  /* padding-bottom: 54px; */
}
.popup__form {
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;

  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
}

.popup__input {
  width: 100%;
  padding-bottom: 14px;

  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

input {
  height: 27px;
}

.popup__input-description,
.popup__input-link {
  margin-top: 30px;
}

.popup__input-avatar-link {
  padding: 0;
}

.popup__error {
  height: 12px;
  color: #ff0000;

  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
  transition: opacity 0.5s ease;
  align-self: flex-start;
  margin-top: 5px;
  max-height: 12px;
  opacity: 0;
}

.popup__error_visible {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.popup__input_type_error {
  border-bottom: 1px solid rgba(225, 0, 0, 1);
}

.popup__button {
  background-color: #000;
  color: #fff;
  border: none;
  text-decoration: none;
  width: 100%;
  height: 50px;

  margin-top: 48px;

  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;

  opacity: 1;
  transition: opacity 0.5s ease;
}

.popup__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.popup__confirm-button {
  background-color: #000;
  color: #fff;
  border: none;
  text-decoration: none;
  width: 100%;
  height: 50px;

  margin-top: 34px;

  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;

  opacity: 1;
  transition: opacity 0.5s ease;
}

.popup__confirm-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.popup__button_disabled {
  opacity: 0.2;
  background-color: #fff;
  border: 2px solid #000;
  color: #000;
  cursor: default;
}

.popup__button_disabled:hover {
  opacity: 0.2;
  cursor: default;
}

.popup__preview-name {
  margin: 0;

  background: transparent;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: left;
}

@media screen and (max-width: 480px) {
  .popup__heading {
    font-size: 18px;
  }
  .popup__button {
    font-size: 14px;
    max-width: 238px;
  }

  .popup__input-link {
    margin-top: 30px;
  }
}

@media screen and (max-width: 630px) {
  .popup__close {
    left: calc(100% - 26px);
    bottom: calc(100% + 13px);
    width: 26px;
    height: 26px;
  }

  .popup__close_preview-image {
    left: 100%;
    bottom: calc(100% + 5px);
  }
}
